
@model MyMVCProject.Models.Movie

@{
    ViewData["Title"] = "Movie Details";
}

<div class="container mt-4">
    <div class="card shadow p-4">
        <h2 class="mb-3">🎥 Movie Details</h2>
        <hr />

        <dl class="row">
            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Genre)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
        </dl>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Index" class="btn btn-outline-secondary">← Back to List</a>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>